<br-headline br-title="Notification" br-loading="model.loading"
  br-options="{menu: false}"></br-headline>
<form class="form-horizontal" role="form">
  <fieldset>
    <div ng-repeat="option in model.registeredOptions">
      <br-radio-group br-model="model.settings[option.type].enable"
        br-group="[{label: 'Enable', value: true}, {label: 'Disable', value: false}]"
        br-options="{inline: true, name: '{{option.type}}', label: '{{option.label}}'}">
        Disable or enable notifications.
      </br-radio-group>
      <div ng-show="model.settings[option.type].enable">
        <br-radio-group br-model="model.settings[option.type].interval"
          br-group="option.intervals"
          br-options="{inline: true, name: '{{option.type}}-interval', label: '{{option.intervalLabel}}'}">
          Select an interval option.
        </br-radio-group>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <span ng-show="model.loading">
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </span>
        <button type="button" class="btn btn-primary"
          ng-disabled="model.loading"
          ng-click="model.update()"><i class="fa fa-check"></i> Update</button>
        <button type="button" class="btn btn-default"
          ng-disabled="model.loading"
          ng-click="model.cancel()">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
